h3 {
    color: #8e8e93;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.list_detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #e3e3e5;
    border-radius: 10px;
    padding: 20px;
}

.flight_detail {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 3px;
}

.flight_detail_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    gap: 5px;
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
}

.flight_detail_num_per {
    color: #8e8e93;
}

.flight_detail_header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.flight_detail_h3 {
    color: #000000;
}

.flight_detail_hr {
    width: 95%;
    height: 1px;
    color: #8e8e93;
    margin-top: 7px;
    margin-left: 17px;
    margin-bottom: 7px;
}

.flight_detail_body {
    margin-left: 15px;
    color: #000000;
    margin-bottom: 10px;
    gap: 7px;
    display: flex;
    flex-direction: column;
}

.flight_detail_img {
    margin-left: 15px;
}

.flight_num {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.flight_num_p {
    color: #8e8e93;
    position: relative;
    bottom: -3px;
    margin-right: 3px;
}

.there_header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 15px;
    align-items: center;
}

.there_h3 {
    margin-top: 10px;
}

.origin_date_time {
    display: flex;
    flex-direction: column;
}

.origin_main {
    font-size: 25px;
}

.additionally {
    font-size: 14px;
    color: #8e8e93;
    position: relative;
    bottom: 6px;
    padding-right: 1px;
}

.additionally-date{
    font-size: 14px;
    color: #8e8e93;
    position: relative;
    bottom: 6px;
    padding-right: 1px;
    text-align: end;
}

.origin_first {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.origin {
    margin-top: 7px;
}

.transfer {
    color: #8e8e93;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
}

.flight_detail_container {
    display: flex;
    align-items: flex-start; /* Выравниваем по верху */
}

.flight_detail_line {
    width: 2px;
    height: 90px;
    background-color: #8e8e93;
    margin-top: 23px;
    margin-left: 15px;
}

.button_choose {
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

.button_choose:hover {
    background-color: 0056b3;
}

.choose {
    width: 100%;
}

