h3 {
    color: #8e8e93;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listresult {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 6px;
    text-decoration: none;
    width: 100%;
}

.listresult_ul {
    list-style: none;
    padding: 20px;
    margin: 1px 0;
}

.listresult_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    gap: 5px;
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
}

.listresult_num_per {
    color: #8e8e93;
}

.listresult_header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.listresult_img {

    margin-right: 15px;
    margin-left: auto; /* Отступ от левого края до img */

}

.listresult_start_end {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listresult_line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #8e8e93;
    text-align: center;
    font-size: 12px;
    width: 45%;
}

.listresult_line_hr {
    width: calc(100% - 2 * 10px); /* Ширина линии: ширина родительского элемента минус 20px (отступы img) */
    background-color: #ddd;
    border: none;
  }

.listresult_body {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000000;
}

.listresult_city {
    color: #8e8e93;
    position: relative;
    bottom: -6px;
}

.listresult_date {
    color: #8e8e93;
    position: relative;
    bottom: 4px;
}

.listresult_time {
    font-size: 27px;
}

.listresult_line_hr {
    width: 100%;
    background-color: #8e8e93;
}

.listresult_h3 {
    color: #000000;
}

.result_list_settings {
    background-color: #f2f2f7;
}

.result_list_settings_button {
    background-color: #f2f2f7;
    color: #8e8e93;
}